
<app-nav></app-nav>
<section class="ftco-section" style="background-color: #000232;" *ngIf="!verifyMode">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4" style="border: 2px solid yellow;">
                <div class="login-wrap py-5">
                    <div class="img d-flex align-items-center justify-content-center"
                        style="background-image:url(https://cdn.dribbble.com/users/113499/screenshots/7006153/media/1af75c73d98c2c6b8217294e65a603a9.png?compress=1&resize=400x300)">
                    </div>
                    <h3 class="text-center mb-0">Enter your email to reset password</h3>
                    <p class="text-center">We will sent a verifycation code to your email   </p>
                    <form action="#" class="login-form">
                       
                        <p>
                           Enter your email :
                        </p>
                        <p class="text-center" *ngIf="emailError"><i class="fas fa-exclamation-triangle"></i>Email not valid !</p>
                        <!-- <p class="text-center" *ngIf="usernameError"><i class="fas fa-exclamation-triangle"></i>Tên tài khoản đã được sử dụng hoặc không hợp lệ ! Hãy nhập lại</p> -->
                        <div class="form-group">

                            <div class="icon d-flex align-items-center justify-content-center"><span class="fas fa-envelope-open-text"></span></div>
                            <input type="text" class="form-control" placeholder="Enter your email" required="" name="code" [(ngModel)]="email" >
                        </div>
                      
                        <div class="form-group">
                            <button type="submit"
                                class="btn form-control btn-primary rounded submit px-3" (click)="tryReset()" >Reset my password !</button>
                        </div>
                        <!-- <div class="clearfix">
                            <div class="spinner-border text-light" role="status">
                               
                            </div>
                            <p style="display: inline-block;margin-left: 10px;">Verify...</p>
                        </div> -->
                        <!-- <p class="text-center" >Registration complete! <a routerLink="/login"><b>Login</b></a> now !</p> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section" style="background-color: #000232;" *ngIf="verifyMode">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4" style="border: 2px solid yellow;">
                <div class="login-wrap py-5">
                    <div class="img d-flex align-items-center justify-content-center"
                        style="background-image:url(https://cdn.dribbble.com/users/113499/screenshots/7006153/media/1af75c73d98c2c6b8217294e65a603a9.png?compress=1&resize=400x300)">
                    </div>
                    <h3 class="text-center mb-0">Check your email for verifycation code</h3>
                    <p class="text-center">A email has been sent to {{email}} </p>
                    <form action="#" class="login-form">
                       
                        <p>
                           Enter your code :
                        </p>
                        <!-- <p class="text-center" *ngIf="usernameError"><i class="fas fa-exclamation-triangle"></i>Tên tài khoản đã được sử dụng hoặc không hợp lệ ! Hãy nhập lại</p> -->
                        <div class="form-group">

                            <div class="icon d-flex align-items-center justify-content-center"><span class="fas fa-envelope-open-text"></span></div>
                            <input type="text" class="form-control" placeholder="Verifycation code" required="" name="code"  [(ngModel)]="verifyCode">
                        </div>
                        
                        <div class="form-group">
                            <button type="submit"
                                class="btn form-control btn-primary rounded submit px-3" (click)="checkValidateCode()" >Verify</button>
                        </div>

                        <p class="text-center" *ngIf="verifyComplete">New password has been sent to your email! <a routerLink="/login"><b>Login</b></a> now !</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<app-footer></app-footer>