<div>
    <div class="sidebar">
        <div class="sidebar-inner">
            <div class="sidebar-logo" style="    background: linear-gradient(to bottom, #16c1f6 0%, #e7fff7 80%);
            border-bottom: black solid;">
                <div class="peers ai-c fxw-nw">
                    <div class="peer peer-greed"><a class="sidebar-link td-n">
                            <div class="peers ai-c fxw-nw">
                                <div class="peer">
                                    <div class="logo"><img style="height: 63px;"
                                            src="https://res.cloudinary.com/dkmk9tdwx/image/upload/v1626422949/1af75c73d98c2c6b8217294e65a603a9_k8tsz8.png"
                                            alt=""></div>
                                </div>
                                <div class="peer peer-greed" style="height: 64px;">
                                    <p style="margin-top: 20%;" routerLink="/home">Home</p>
                                </div>
                            </div>
                        </a></div>
                    <div class="peer">
                        <div class="mobile-toggle sidebar-toggle"><a class="td-n"><i
                                    class="ti-arrow-circle-left"></i></a></div>
                    </div>
                </div>
            </div>
            <ul class="sidebar-menu scrollable pos-r ps" style="background:honeydew;">
                <li class="nav-item "><a class="sidebar-link" routerLink="/Shipper"><span class="icon-holder"><i
                                class="fas fa-dolly-flatbed"></i></span><span class="title">Available Order</span></a>
                </li>
                <li class="nav-item "><a class="sidebar-link" routerLink="/Shipper-Accepted"><span
                            class="icon-holder"><i class="fas fa-shipping-fast"></i></span><span class="title">Accepted
                            Order</span></a></li>
                <li class="nav-item "><a class="sidebar-link" routerLink="/Shiper-History"><span class="icon-holder"><i
                                class="fas fa-history"></i></span><span class="title">Order History</span></a></li>
                <li class="nav-item"><a class="sidebar-link"><span class="icon-holder"><i
                                class="fas fa-sign-out-alt"></i> </span><span class="title">Logout</span></a></li>


                <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                    <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                </div>
                <div class="ps__rail-y" style="top: 0px; right: 0px;">
                    <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                </div>
            </ul>
        </div>
    </div>
    <div class="page-container">
        <div class="header navbar">
            <div class="header-container" style="background: linear-gradient(to bottom, #16c1f6 0%, #e7fff7 80%);
            border-bottom: black solid;
            height: 66px;">
                <ul class="nav-left">
                    <li><a>
                            <h3 style="margin-top: 10%;">Shipping Info</h3>
                        </a></li>
                </ul>
                <ul class="nav-right">
                    <li class="notifications dropdown"><span class="counter bgc-red">3</span> <a
                            class="dropdown-toggle no-after" id="dropdownMenuButton1" aria-expanded="false"><i
                                class="ti-bell"></i></a>
                    </li>
                    <li class="notifications dropdown"><span class="counter bgc-blue">3</span> <a
                            class="dropdown-toggle no-after"><i class="ti-email"></i></a>

                    </li>
                    <li class="dropdown"><a class="dropdown-toggle no-after peers fxw-nw ai-c lh-1">
                            <div class="peer mR-10"><img class="w-2r bdrs-50p" src="{{user.imgUrl}}" alt=""></div>
                            <div class="peer"><span class="fsz-sm c-grey-900">{{user.name}}</span></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <main class="main-content bgc-grey-100">
            <div id="mainContent">
                <div class="row gap-20 masonry pos-r" style="position: relative; height: 1806px;">
                    <div class="masonry-sizer col-md-6"></div>
                    <div class="masonry-item w-100" style="position: absolute; left: 0%; top: 0px;">
                        <div class="row gap-20">
                            <div class="col-md-3">
                                <div class="layers bd bgc-white p-20">
                                    <!--  -->
                                    <div class="layer w-100 mB-10">
                                        <h3 class="lh-1" style="margin-bottom: 3%;">List of Order</h3>
                                        <!-- <img style="width: 40px;height: 40px;"
                                            src="https://image.flaticon.com/icons/png/128/1149/1149576.png"
                                            ngbTooltip="Add a User" (click)="openAddModal(add_user)">Add a user -->

                                        <div style="
                                        display: inline-block;
                                        width: 25%;">
                                            <div>Order by: <select class="select select-history select-lg"
                                                    [(ngModel)]="orderby" (change)="getNewPage()">
                                                    <option value="totalPrice">Total Price</option>
                                                    <option value="id" selected="">Id</option>
                                                    <option value="payment">Payment Method</option>
                                                    <option value="orderDate">Order Date</option>
                                                </select></div>
                                        </div>
                                        <div style="
                                        display: inline-block;
                                        width: 25%;">
                                            <div>Sort : <select class="select select-history select-lg"
                                                    [(ngModel)]="sortDirect" (change)="getNewPage()">
                                                    <option value="a" selected>Ascending</option>
                                                    <option value="d">Descending</option>

                                                </select></div>
                                        </div>
                                        <div style="
                                        display: inline-block;
                                        width: 25%;">
                                            <div>Page size : <select class="select select-history select-lg"
                                                    [(ngModel)]="pageSize" (change)="getNewPage()">
                                                    <option value="5" selected>5</option>
                                                    <option value="10">10</option>
                                                    <option value="15">15</option>
                                                    <option value="25">25</option>

                                                </select></div>
                                        </div>

                                        <div class="table-responsive p-20">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th class="bdwT-0" style="word-wrap: break-word;
                                                        max-width: 80px;">Name</th>
                                                        <th class="bdwT-0">Phone</th>
                                                        <th class="bdwT-0" style="word-wrap: break-word;
                                                        max-width: 80px;">Email</th>
                                                        <th class="bdwT-0" style="
                                                        width: 115px;
                                                    ">Address</th>
                                                        <th class="bdwT-0" style="
                                                        width: 115px;
                                                    ">Status</th>
                                                        <th class="bdwT-0">Order Date</th>
                                                        <th class="bdwT-0">Payment</th>
                                                        <th class="bdwT-0" style="word-wrap: break-word;
                                                        max-width: 50px;">Items</th>
                                                        <th class="bdwT-0" style="word-wrap: break-word;
                                                        max-width: 50px;">T.Price</th>
                                                        <th class="bdwT-0" colspan="2">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody *ngFor="let u of orders">
                                                    <tr>
                                                        <td class="fw-600" style="word-wrap: break-word;
                                                        max-width: 50px;">{{u.contactName}}</td>
                                                        <td><span>{{u.phone}}</span>
                                                        </td>
                                                        <td style="word-wrap: break-word;
                                                        max-width: 80px;">{{u.email}}</td>
                                                        <td><span class="text-success">{{u.address}}</span></td>
                                                        <td *ngIf="u.status==1"><span
                                                                class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c rounded-pill">Not
                                                                Approved</span>
                                                        </td>
                                                        <td *ngIf="u.status==2"><span
                                                                class="badge bgc-green-50 c-green-700 p-10 lh-0 tt-c rounded-pill">Approved</span>
                                                        </td>
                                                        <td *ngIf="u.status==3"><span
                                                                class="badge bgc-yellow-50 c-yellow-700 p-10 lh-0 tt-c rounded-pill">Shipping</span>
                                                        </td>
                                                        <td *ngIf="u.status==4"><span
                                                                class="badge bgc-deep-purple-50 c-deep-purple-700 p-10 lh-0 tt-c rounded-pill">Finished</span>
                                                        </td>
                                                        <td class="fw-600">{{u.orderDate}}</td>
                                                        <td><span>{{u.paymentMethod}}</span>
                                                        </td>
                                                        <td>{{u.totalItem}}</td>
                                                        <td><span class="text-success">{{u.totalPrice}}</span></td>
                                                        <td><span class="text-success"><img
                                                                    style="width: 40px;height: 40px;"
                                                                    src="https://image.flaticon.com/icons/png/128/4108/4108276.png"
                                                                    ngbTooltip="View Detail"
                                                                    (click)="openInfoModal(order_info,u)"></span></td>
                                                        <td><span class="text-success"><img
                                                                    style="width: 40px;height: 40px;"
                                                                    src="https://image.flaticon.com/icons/png/128/2550/2550322.png"
                                                                    ngbTooltip="Accept this order"
                                                                    (click)="acceptOrder(u.id)"></span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="row justify-content-center">
                                            <div class="col-4" style="margin-left: 69%;">
                                                <ngb-pagination [(page)]="pageNumber" [pageSize]="pageSize"
                                                    [collectionSize]="collectionSize" [maxSize]="5" [boundaryLinks]=true
                                                    (pageChange)="getPage()">
                                                </ngb-pagination>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="layer w-100">
                                        <div class="peers ai-sb fxw-nw">
                                            <div class="peer peer-greed"><span id="sparklinedash"><canvas width="45"
                                                        height="20"
                                                        style="display: inline-block; width: 45px; height: 20px; vertical-align: top;"></canvas></span>
                                            </div>
                                            <div class="peer"><span
                                                    class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">+10%</span>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600"><span>Copyright © 2021 Designed by <a
                    href="https://colorlib.com" target="_blank" title="Colorlib">Colorlib</a>. All rights
                reserved.</span></footer> -->
    </div>
</div>



<ng-template #order_info let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Order Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="table-responsive p-20">
            <p>Total Item : {{selectedTotalItem}}</p>
            <p>Total Price : {{selectedTotalPrice}}</p>
            <table class="table">
                <thead>
                    <tr>
                        <th class="bdwT-0">Image</th>
                        <th class="bdwT-0">Name</th>
                        <th class="bdwT-0">Price</th>
                        <th class="bdwT-0">Quantity</th>
                        <th class="bdwT-0">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let od of orderDetails">
                        <td><img style="height: 40px;width: 40px;" src="{{ od.product.imgUrl }}"></td>
                        <td>{{ od.product.name }}</td>
                        <td>${{ od.product.price }}</td>
                        <td>{{ od.quantity }}</td>
                        <td>${{ (od.product.price*od.quantity).toFixed(2) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Close</button>
    </div>
</ng-template>