<!-- Navigation-->


<div class="header-promo-wrapper" style="background-color: #990000;">
  <div class="promo-code-box" style="text-align: left;"><span style="color: #ffffff;"><span
        style="color: #ffffff;"><strong>International delivery</strong> is currently unavailable.&nbsp;
        <strong>Covid-19: </strong>Latest update <span style="text-decoration: underline;"><a
            style="color: #ffffff; text-decoration: underline;"
            href="https://ncov.moh.gov.vn/">here</a></span>.</span></span>
  </div>
</div>
<!-- <nav class="navbar navbar-expand-lg navbar-light  " style="background-color: #94d78b;">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" routerLink="/home">Tron's Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="/home">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="">About</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">Shop</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/products">All Products</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" routerLink="/products/category/Fruit">Fruit</a></li>
            <li><a class="dropdown-item" routerLink="/products/category/Vegetable">Vegetable</a></li>
            <li><a class="dropdown-item" routerLink="/products/category/Confectionery">Confectionery</a></li>
            <li><a class="dropdown-item" routerLink="/products/category/Snack">Snack</a></li>
          </ul>
        </li>
      </ul>

      <p style="margin-top: 2%;margin-right: 2%;margin-left: 2%;" *ngIf="isLogin()">Xin chào {{this.username}} !</p>

      <img src="{{this.url}}"
        style="width: 40px;height: 40px;border-radius: 50%;margin-right: 15px;border: 2px solid black;" *ngIf="isLogin()" routerLink="/account-info">

      <app-cart-status style="margin-top: 2%;"></app-cart-status>

      <form class="d-flex" *ngIf="!isLogin()" style="margin-top: 2%;">
        <button routerLink="/login" class="btn btn-outline-dark" type="submit">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
            <path fill-rule="evenodd"
              d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
          </svg>
          Login
        </button>
      </form>

      <form class="d-flex" *ngIf="isLogin()" style="margin-top: 2%;margin-right: 2%;margin-left: 2%;">
        <button class="btn btn-outline-dark" type="submit" (click)="this.loginService.tryLogout()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
            <path fill-rule="evenodd"
              d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
          </svg>
          Logout
        </button>
      </form>
    </div>
  </div>
</nav> -->


<nav class="navbar navbar-expand-lg navbar-light bg-warning" style="z-index: 999;height: 90px;">
  <a class="navbar-brand" routerLink="/home"><i class="fas fa-store"></i> Tron's Shop</a>
 
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
  [attr.aria-expanded]="!isCollapsed" 
    aria-controls="navbarSupportedContent"  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [collapse]="isCollapsed" style="padding-top: 5px;background-color: #ffc107!important;height: 60px; ">
    <ul class="navbar-nav ml-auto topnav" style="background-color: #ffc107;">
      <li class="nav-item active">
        <button class="btn btn-outline-primary" routerLink="/home"><i class="fas fa-home"></i> Home</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-primary" routerLink="/blogs" style="margin-left:10px ;"><i class="far fa-newspaper"></i> Blogs</button>
      </li>
      <li class="nav-item dropdown" ngbDropdown #myDrop>
        <div class="btn-group mr-3">
          <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-outline-primary" ngbDropdownToggle><i class="fas fa-shopping-basket"></i> Products</button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <a ngbDropdownItem routerLink="/products"><i class="fas fa-clipboard-list"></i> All</a>
              <hr>
              <a ngbDropdownItem routerLink="/products/category/Fruit"><i class="fas fa-apple-alt"></i> Fruit</a>
              <a ngbDropdownItem routerLink="/products/category/Vegetable"><i class="fas fa-seedling"></i> Vegetable</a>
              <a ngbDropdownItem routerLink="/products/category/Confectionery"><i class="fas fa-candy-cane"></i> Confectionery</a>
              <a ngbDropdownItem routerLink="/products/category/Snack"><i class="fas fa-pizza-slice"></i> Snack</a>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-primary"><i class="fas fa-info"></i> About us</button>
      </li>
      <li class="nav-item" style="margin: 0px ;" routerLink="/cart-detail"> 
        <app-cart-status ></app-cart-status>
      </li>

      <li class="nav-item" *ngIf="!isLogin()">
        <button class="btn btn-outline-primary"  routerLink="/login"><i class="fas fa-sign-in-alt"></i> Sign In</button>
      </li>
      <li class="nav-item"  *ngIf="!isLogin()">
        <button class="btn btn-outline-primary" routerLink="/register"><i class="fas fa-edit"></i> Register</button>
      </li>
      <li class="nav-item" style="margin-top: 7px;" *ngIf="isLogin()">
        <p >Xin chào {{this.username}} !</p>
      </li>
      <li  class="nav-item"        *ngIf="isLogin()" >
        <img src="{{this.url}}"
        style="width: 40px;height: 40px;border-radius: 50%;border: 2px solid black;" 
 routerLink="/account-info">
      </li>
      <li class="nav-item" *ngIf="isLogin()" >
        <button class="btn btn-outline-danger" (click)="this.loginService.tryLogout()"><i class="fas fa-sign-out-alt"></i> Logout</button>
      </li>
    
    </ul>
  </div>


</nav>
<!-- Header-->