
<div>
    <div class="sidebar">
        <div class="sidebar-inner">
            <div class="sidebar-logo" style="    background: linear-gradient(to bottom, #16c1f6 0%, #e7fff7 80%);
            border-bottom: black solid;">
                <div class="peers ai-c fxw-nw">
                    <div class="peer peer-greed"><a class="sidebar-link td-n">
                            <div class="peers ai-c fxw-nw">
                                <div class="peer">
                                    <div class="logo"><img style="height: 63px;"
                                            src="https://res.cloudinary.com/dkmk9tdwx/image/upload/v1626422949/1af75c73d98c2c6b8217294e65a603a9_k8tsz8.png"
                                            alt=""></div>
                                </div>
                                <div class="peer peer-greed" style="height: 64px;">
                                    <p style="margin-top: 20%;" routerLink="/home">Home</p>
                                </div>
                            </div>
                        </a></div>
                    <div class="peer">
                        <div class="mobile-toggle sidebar-toggle"><a class="td-n"><i
                                    class="ti-arrow-circle-left"></i></a></div>
                    </div>
                </div>
            </div>
            <ul class="sidebar-menu scrollable pos-r ps" style="background:honeydew;">
                <li class="nav-item "><a class="sidebar-link" routerLink="/Administrator"><span class="icon-holder"><i
                                class="fas fa-home"></i></span><span class="title">Dashboard</span></a></li>
                <li class="nav-item"><a class="sidebar-link" routerLink="/Administrator-Product"><span
                            class="icon-holder"><i class="fas fa-box-open"></i></span><span
                            class="title">Product</span></a></li>
                <li class="nav-item"><a class="sidebar-link" routerLink="/Administrator-Order"><span
                            class="icon-holder"><i class="fas fa-clipboard-check"></i> </span><span
                            class="title">Order</span></a></li>
                <li class="nav-item"><a class="sidebar-link" routerLink="/Administrator-User"><span
                            class="icon-holder"><i class="fas fa-user"></i> </span><span class="title">User</span></a>
                </li>
                <li class="nav-item"><a class="sidebar-link" routerLink="/Administrator-Statistical"><span
                            class="icon-holder"><i class="fas fa-chart-line"></i> </span><span
                            class="title">Statistical</span></a>
                </li>
                <li class="nav-item"><a class="sidebar-link"><span class="icon-holder"><i
                                class="fas fa-sign-out-alt"></i> </span><span class="title">Logout</span></a></li>


                <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                    <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                </div>
                <div class="ps__rail-y" style="top: 0px; right: 0px;">
                    <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                </div>
            </ul>
        </div>
    </div>
    <div class="page-container">
        <div class="header navbar">
            <div class="header-container" style="background: linear-gradient(to bottom, #16c1f6 0%, #e7fff7 80%);
            border-bottom: black solid;
            height: 66px;">
                <ul class="nav-left">
                    <li><a><h3 style="margin-top: 10%;">Dashboard</h3></a></li>
                </ul>
                <ul class="nav-right">
                    <li class="notifications dropdown"><span class="counter bgc-red">3</span> <a
                            class="dropdown-toggle no-after" id="dropdownMenuButton1" aria-expanded="false"><i
                                class="ti-bell"></i></a>
                    </li>
                    <li class="notifications dropdown"><span class="counter bgc-blue">3</span> <a
                            class="dropdown-toggle no-after"><i class="ti-email"></i></a>

                    </li>
                    <li class="dropdown"><a class="dropdown-toggle no-after peers fxw-nw ai-c lh-1">
                            <div class="peer mR-10"><img class="w-2r bdrs-50p" src="{{user.imgUrl}}" alt=""></div>
                            <div class="peer"><span class="fsz-sm c-grey-900">{{user.name}}</span></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <main class="main-content bgc-grey-100">
            <div id="mainContent">
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3>{{dbInfo.productCount}}</h3>

                                <p>Products</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-box-open"></i>
                            </div>
                            <a routerLink="/Administrator-Product" class="small-box-footer">More info <i
                                    class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3>{{dbInfo.orderCount}}</h3>

                                <p>Pending Orders</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-file-invoice-dollar"></i>
                            </div>
                            <a routerLink="/Administrator-Order" class="small-box-footer">More info <i
                                    class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3>{{dbInfo.userCount}}</h3>

                                <p>Users</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-user-check"></i>
                            </div>
                            <a routerLink="/Administrator-User" class="small-box-footer">More info <i
                                    class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3>65</h3>

                                <p>Unique Visitors</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-dollar-sign"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                </div>
                <div class="row">
                    <div class="col-xl-8" style="
                    border-right: 1px solid black;">
                        <div class="layer w-100 mB-10">
                            <h6 class="lh-1">Upcoming event</h6>
                            <div style="
                                        display: inline-block;
                                        width: 25%;">
                                <div>Next Event In : <select class="select select-history select-lg"
                                        [(ngModel)]="numberOfDay" name="day" (change)="getNewEventByDate()">
                                        <option value="7" selected>7 day</option>
                                        <option value="15">15 day</option>
                                        <option value="30">30 day</option>
                                        <option value="99999">All</option>
                                    </select></div>
                            </div>
                            <div style="
                                        display: inline-block;
                                        width: 25%;">
                                <div>Page size : <select class="select select-history select-lg" [(ngModel)]="pageSize"
                                        name="pagesize" (change)="getNewEventByDate()">
                                        <option value="5" selected>5</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="25">25</option>

                                    </select></div>
                            </div>
                            <div class="table-responsive p-20">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="bdwT-0">Time</th>
                                            <th class="bdwT-0">Date</th>
                                            <th class="bdwT-0">Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let e of eventList">
                                            <td class="fw-600">{{e.time}}</td>
                                            <td class="fw-600">{{e.date}}</td>
                                            <td class="fw-600">{{e.description}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-4" style="margin-left: 69%;">
                                    <ngb-pagination [(page)]="pageNumber" [pageSize]="pageSize"
                                        [collectionSize]="collectionSize" [maxSize]="5" [boundaryLinks]=true
                                        (pageChange)=" getEventByDate()">
                                    </ngb-pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <p style="margin-left: 44%;">Calendar</p>

                        <ngb-datepicker #dp [(ngModel)]="dateModel" (navigate)="date = $event.next"
                            [minDate]="{year: 2010, month: 1, day: 1}" [maxDate]="{year: 2048, month: 12, day: 31}"
                            style="margin-left: 25%;">
                        </ngb-datepicker>

                        <hr />
                        <button class="btn btn-sm btn-outline-primary mr-2" style="margin-left: 10%;"
                            (click)="openAddEventModal(addEvent)">Add
                            event</button>
                        <button class="btn btn-sm btn-outline-primary mr-2" (click)="selectToday()">Select
                            Today</button>
                        <button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo()">To current
                            month</button>

                        <hr />

                        <!-- <pre>Month: {{ date.month }}.{{ date.year }}</pre>
                        <pre>Model: {{ dateModel | json }}</pre> -->
                    </div>
                </div>

            </div>
        </main>
        <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600"><span>Copyright © 2021 Designed by <a
                    href="https://tron.com" target="_blank" title="Colorlib">Tròn</a>. All rights
                reserved.</span></footer>
    </div>
</div>







<ng-template #addEvent let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add a event</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="time">Event Time</label>

                <ngb-timepicker [(ngModel)]="time" [meridian]="meridian" name="time"></ngb-timepicker>
                <label for="des">Description</label>

                <div class="input-group">
                    <textarea id="des" class="form-control" placeholder="description..." name="des"
                        style="height: 80px;" multiple [(ngModel)]="eventDes"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="saveEvent()">Save</button>
    </div>
</ng-template>