<app-nav></app-nav>
<div class="container _1QwuCJ" style="margin-top: 8%;border: 2px black solid;margin-bottom: 8%;">
    <div class="_36cLcR" style="padding-left: 2%;border-right: 1px solid black;width: 25%;">
        <div class="_1_68zU"><a class="_2BuJEf" routerLink="/account-info">
                <div class="shopee-avatar">
                    <div class="shopee-avatar__placeholder"><svg enable-background="new 0 0 15 15" viewBox="0 0 15 15"
                            x="0" y="0" class="shopee-svg-icon icon-headshot">
                            <g>
                                <circle cx="7.5" cy="4.5" fill="none" r="3.8" stroke-miterlimit="10"></circle>
                                <path d="m1.5 14.2c0-3.3 2.7-6 6-6s6 2.7 6 6" fill="none" stroke-linecap="round"
                                    stroke-miterlimit="10"></path>
                            </g>
                        </svg></div><img class="shopee-avatar__img"
                        src="https://static.vecteezy.com/system/resources/previews/002/318/271/non_2x/user-profile-icon-free-vector.jpg">
                </div>
            </a>
            <div class="_2uLDqN">
                <div class="_2lG70n">{{user.name}}</div>
                <div><a class="_27BCO5" routerLink="/account-info"><svg width="12" height="12" viewBox="0 0 12 12"
                            xmlns="http://www.w3.org/2000/svg" style="margin-right: 4px;">
                            <path d="M8.54 0L6.987 1.56l3.46 3.48L12 3.48M0 8.52l.073 3.428L3.46 12l6.21-6.18-3.46-3.48"
                                fill="#9B9B9B" fill-rule="evenodd"></path>
                        </svg>Edit profile</a></div>
            </div>
        </div>
        <div class="_1ZnP-m">
            <div class="stardust-dropdown stardust-dropdown--open">
                <div class="stardust-dropdown__item-header"><a class="_3aAm2h" routerLink="/account-info">
                        <div class="_21F-bS"><img src="https://cf.shopee.vn/file/ba61750a46794d8847c3f463c5e71cc4">
                        </div>
                        <div class="_2i7380"><span class="_3CHLlN">Account </span></div>
                    </a></div>

            </div>
            <div class="stardust-dropdown">
                <div class="stardust-dropdown__item-header"><a class="_3aAm2h" routerLink="/account-orderlist">
                        <div class="_21F-bS"><img src="https://cf.shopee.vn/file/f0049e9df4e536bc3e7f140d071e9078">
                        </div>
                        <div class="_2i7380"><span class="_3CHLlN">Order</span></div>
                    </a></div>
                <div class="stardust-dropdown__item-body">
                    <div class="_3aiYwk"></div>
                </div>
            </div>
            <div class="stardust-dropdown">
                <div class="stardust-dropdown__item-header"><a class="_3aAm2h" routerLink="/account-newpassword">
                        <div class="_21F-bS"><img src="https://cf.shopee.vn/file/e10a43b53ec8605f4829da5618e0717c">
                        </div>
                        <div class="_2i7380"><span class="_3CHLlN">Change Password</span></div>
                    </a></div>
            </div>
            <div class="stardust-dropdown">
                <div class="stardust-dropdown__item-header"><a class="_3aAm2h">
                        <div class="_21F-bS"><img src="https://cf.shopee.vn/file/84feaa363ce325071c0a66d3c9a88748">
                        </div>
                        <div class="_2i7380"><span class="_3CHLlN">Voucher</span></div>
                    </a></div>
                <div class="stardust-dropdown__item-body">
                    <div class="_3aiYwk"></div>
                </div>
            </div>
            <div class="stardust-dropdown">
                <div class="stardust-dropdown__item-header"><a class="_3aAm2h">
                        <div class="_21F-bS"><img src="https://cf.shopee.vn/file/a0ef4bd8e16e481b4253bd0eb563f784">
                        </div>
                        <div class="_2i7380"><span class="_3CHLlN">Shop Coins</span></div>
                    </a></div>
                <div class="stardust-dropdown__item-body">
                    <div class="_3aiYwk"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="_3D9BVC">
        <div class="h4QDlo" role="main">
            <form>
                <div class="kJiu0u">
                    <div class="ZsX2q-">
                        <h1 class="_2xVij2">Change Password</h1>
                        <div class="_2PlnUp">For account security, please do not share your password with others</div>
                        <div class="_2PlnUp" *ngIf="repeatError"><i class="fas fa-exclamation-triangle"></i>Password is not the same</div>
                        <div class="_2PlnUp" *ngIf="passError"><i class="fas fa-exclamation-triangle"></i>Password must be atleast 8 digit long</div>
                        <div class="_2PlnUp" *ngIf="emailSent"><i class="fas fa-exclamation-triangle"></i>An email has been sent to {{user.email}}</div>
                        <div class="_2PlnUp" *ngIf="verifyError"><i class="fas fa-exclamation-triangle"></i>Verify code not correct</div>
                        <div class="_2PlnUp" *ngIf="verifyComplete"><i class="fas fa-exclamation-triangle"></i>Your password has been changed</div>
                    </div>
                    <div class="_2gERne">
                        <div class="eSOrcn">
                            <div class="_3m9JxV">
                                <div class="_1p2sNF">
                                    <div class="J7OZkm"><label class="_3W1PU2" for="password">New Password</label></div>
                                    <div class="_38MRMp"><input class="_2R9TsD _3_Hq9P" type="password"
                                            autocomplete="off" name="password" value="" [(ngModel)]="password"></div>
                                </div>
                            </div>
                        </div>
                        <div class="eSOrcn">
                            <div class="_3m9JxV">
                                <div class="_1p2sNF">
                                    <div class="J7OZkm"><label class="_3W1PU2" for="passwordRepeat">Repeat new
                                            password</label></div>
                                    <div class="_38MRMp">
                                        <input class="_2R9TsD _3_Hq9P" type="password" autocomplete="off"
                                            name="repassword" value="" [(ngModel)]="repassword">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="eSOrcn">
                            <div class="_3m9JxV">
                                <div class="_1p2sNF">
                                    <div class="J7OZkm"><label class="_3W1PU2" for="otp">Verification Code</label></div>
                                    <div class="_38MRMp">
                                        <div class="_3fQyST">
                                            <div class="_2Xkw2E _3wMbl7"><input class="_1v16qs _3wMbl7" name="code"
                                                    type="text" autocomplete="off" value="" [(ngModel)]="code"></div><button class="OK6Cf4"
                                                (click)="tryResetPass()">Send verify email</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="eSOrcn" *ngIf="emailSent">
                            <div class="_1DS7fG"></div>
                            <div class="_1IcdS-"><button type="button"
                                    class="btn btn-solid-primary btn--m btn--inline btn-solid-primary" (click)="tryVerify()">Verify</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<app-footer></app-footer>