<div class="row bottom" style="padding-top: 35px;background-color: antiquewhite">
      

    <div class="column-2 large-2 columns" style="line-height: 1;">
      <h2 class="title">ABOUT</h2>

      <div class="content">
        
        

        <ul class="footer-nav plain-list" role="navigation">
          
          <li><a href="/pages/our-story" title="About Us">About Us</a></li>
          
          <li><a href="/pages/our-stores" title="Store &amp; Trading Hours">Store &amp; Trading Hours</a></li>
          
          <li><a href="/blogs/pick-of-the-week" title="What's Fresh">What's Fresh</a></li>
          
          <li><a href="/collections/recipes" title="Recipes">Recipes</a></li>
          
          <li><a href="http://www.harrisfarm.com.au/blogs/campaigns/18047452-rate-your-local-harris-farm-store" title="Rate Your Local Store" target="_blank">Rate Your Local Store</a></li>
          
          <li><a href="https://cdn.shopify.com/s/files/1/0206/9470/files/Sustainability_Manifesto_Courtney.pdf?v=1622087900" title="Sustainability" target="_blank">Sustainability</a></li>
          
          <li><a href="/blogs/all" title="Blog">Blog</a></li>
          
          <li><a href="/pages/careers-page" title="Careers">Careers</a></li>
          
          <li><a href="https://harrisfarmsupport.zendesk.com/hc/en-us" title="Contact Us" target="_blank">Contact Us</a></li>
          
        </ul>
        
      </div>
    </div>


    <div class="column-2 large-2 columns" style="line-height: 1;">
      <h2 class="title">SHOP ONLINE</h2>
      <div class="content">
        
        
        <ul class="footer-nav plain-list" role="navigation">
          
          <li><a href="/collections/value-boxes" title="Harris Farm Value Boxes">Harris Farm Value Boxes</a></li>
          
          <li><a href="/collections/online-specials" title="Specials">Specials</a></li>
          
          <li><a href="/pages/delivery" title="Delivery Information">Delivery Information</a></li>
          
          <li><a href="http://www.harrisfarm.com.au/blogs/campaigns/16463512-promotions" title="Promotions" target="_blank">Promotions</a></li>
          
          <li><a href="/pages/liquor-licensing" title="Liquor Licensing">Liquor Licensing</a></li>
          
          <li><a href="/pages/refund-policy" title="Refunds &amp; Returns Policy">Refunds &amp; Returns Policy</a></li>
          
          <li><a href="/pages/best-online-grocer" title="Best Online Grocer">Best Online Grocer</a></li>
          
          <li><a href="https://harrisfarmsupport.zendesk.com/hc/en-us" title="FAQ's" target="_blank">FAQ's</a></li>
          
          <li><a href="/pages/terms-conditions" title="Terms &amp; Conditions">Terms &amp; Conditions</a></li>
          
          <li><a href="/pages/privacy-policy" title="Privacy Policy">Privacy Policy</a></li>
          
        </ul>
        
        
          
        
      </div>

    </div>

    <div class="column-2 large-2 columns" style="line-height: 1;">
      <h2 class="title">OUR PARTNERS</h2>
      <div class="content">
        
        
        <ul class="footer-nav plain-list" role="navigation">
          
          <li><a href="https://www.serviceseeking.com.au" title="ServiceSeeking.com.au" target="_blank">ServiceSeeking.com.au</a></li>
          
          <li><a href="https://www.crackawines.com.au/" title="Cracka Wines" target="_blank">Cracka Wines</a></li>
          
          <li><a href="https://www.petcircle.com.au/" title="Pet Circle" target="_blank">Pet Circle</a></li>
          
          <li><a href="https://www.cocorepublic.com.au/" title="Coco Republic" target="_blank">Coco Republic</a></li>
          
          <li><a href="https://www.appliancesonline.com.au/" title="Appliances Online" target="_blank">Appliances Online</a></li>
          
        </ul>         
        
      </div> 
    </div>
    
    <div id="contact-hfm" class="column-3 large-3 columns" style="line-height: 1;">
      
      <div class="content" style="font-family: Graphen;">
        
        
        <span style="font-size: 35px; color: #5ACA5A;"><strong>GIVE US A BELL</strong></span><br>
        <span style="font-size: 33px;"><strong>1300 828 491</strong></span> <br> 
        
        <span style="font-size: 33px; font-family: Lunchbox;"><a href="https://harrisfarmsupport.zendesk.com/" target="_blank">Harris Farm Help Centre</a></span>
        <div class="social-follow" style="padding-top: 20px">
          <a title="Facebook" aria-hidden="true" target="_blank" href="http://www.facebook.com/harrisfarmmarkets"><img src="//cdn.shopify.com/s/files/1/0206/9470/t/232/assets/fb-icon_50x.png?v=16226672244838013640"></a>
          <a title="Instagram" aria-hidden="true" target="_blank" href="http://instagram.com/harrisfarmmarkets"><img src="//cdn.shopify.com/s/files/1/0206/9470/t/232/assets/insta-icon_50x.png?v=13559282251256777287"></a>
          <a title="YouTube" aria-hidden="true" target="_blank" href="https://www.youtube.com/user/HarrisFarmAU"><img src="//cdn.shopify.com/s/files/1/0206/9470/t/232/assets/youtube-icon_50x.png?v=18177996312802411286"></a>
          
          
          
        </div>          
      </div>

    </div>

    <div id="mini-subscribe" class="column-3 large-3 columns" style="line-height: 1; ">
      
        
        
          <h2 class="title" style="text-align: center;  font-family: Graphen;  font-size: 35px; color: #474368">ARE WE FRIENDS YET?</h2>
        
        <!-- <div class="content"><fast-button></fast-button></div> -->
        <div class="content" id="mailing-list-module" style="background: rgba(103,185,225,0.75); padding: 25px; margin-top: 10px;">
          
          
            <p style="color: white;  font-family: Lunchbox;  font-size: 30px;  text-align: center;">SIGN UP FOR 5% OFF YOUR VEG PLUS SOOOOOOO MUCH MORE</p>
          

          


          <form class="mini-subscribe-form" action="/pages/subscriber-details" >    
            <input type="hidden" id="contact_tags" name="customer[tags]" value="Newsletter">
            <input type="hidden" name="customer[first_name]" value="">
            <input type="hidden" name="customer[last_name]" value="">
            <input type="hidden" name="signupsource" value="WEB-MINI-SUBSCRIBE">            
            <input type="hidden" name="cookie-postcode" value="2000">
            <select name="cookie-local-store" style="display: none;"> 
              <option value="1">Online</option>
            </select>
            <select name="customer[tags]" style="display: none;">
              <option value="HDUH: Newsletter"></option>
            </select>
            <input type="checkbox" name="customer[accepts_marketing]" value="true" style="display: none" checked="">
            <input type="email" placeholder="Your Email" id="ms-email" name="customer[email]" required="">
            <button type="submit" style="border: none; background: none; width: 100%; margin: 0 auto"><img src="//cdn.shopify.com/s/files/1/0206/9470/t/232/assets/signup-btn_100x.png?v=18443815324642815377" style="width: 95px;"></button>
          </form>            
              
          
          
        

          
      </div> 
    </div>
    <div id="liquor_license">Harris Farm supports the responsible service of alcohol. NSW: Liquor Act 2007: It is against the law to sell or supply alcohol to, or to obtain alcohol on behalf of, a person under the age of 18 years. Liquor Licence Number: LIQP770017231</div>
  </div>